body {
  padding: 20px;
}

.App {
  margin: 0 auto;
  width: 400 px;
}

.App > section {
  background-color: rgb(183, 244, 249);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}
